<div class="container">
  <div id="footer">
    
    <p><i class="fa fa-envelope-o"></i> hello@psd-site.com</p>
    <p class="para-two">Copyright <i class="fa fa-copyright"></i> 2014 PSD-site Consulting.<b>Terms &amp; Policies</b></p>
    <div class="float-right">
      <button class="btn btn-default" type="submit"><i class="fa fa-twitter"></i> Tweet</button>
      <div class="arrow-left"></div>
      <div class="count">104</div>
      <button class="btn btn-default" type="submit"><i class="fa fa-facebook-square"></i> Like</button>
      <div class="arrow-left"></div>
      <div class="count">345</div>
    </div>

  </div>

</div>