<div id="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="brand">
        <a href="#"><h1>PSD Site</h1></a>
      </div>
      
      <ul class="links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">JOBS</a></li>
        <li><a href="#">CLIENTS</a></li>
        <li><a href="#">EMPLOYERS</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
      

      
    </div><!-- /.container-fluid -->
  </nav>
</div>