/*home-page*/
#home {
  background-color: $off-white;
  
  .background {
    background-image: url("../images/bcg-png-site.png");
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    height: 80vh;
    width: 100%;
    text-align: center;
    
    .v-center {
      position: relative;
      top: 50%;
      transform: translateY(-50%); 
    }
  }

  .strip {
    background-image: url("../images/bg-strip.png");
    position: relative;
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    width: 100%;
    height: 3px;
  }

  .info {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
      
    .dividor {
      background-color: $light-blue;
      width: 150px;
      height: 4px;
      position: relative;
      margin: 0 auto;
    }

    p {
      display: inline-block;
      margin-top: 10px;
    }
    button {
      display: block;
      margin: 0 auto;
      color: $light-blue;
      background-color: $off-white;
      border: 3px solid $light-blue;
    }
  }

  .subscribe {
    position: relative;
    text-align: center;
    background-color: $dark-blue;
    width: 100%;
    height: 40vh;

    p {
      color: $off-white;
    }
    .center-box {
      position: relative;
      width: 20%;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

/*header*/
#header {
  .navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    border: 0;
    
    .brand {
      float: left;
      
      a {
        text-decoration: none;  
      }

      h1 {
        font-family: 'Monsieur La Doulaise', cursive;
        margin-bottom: 0;
        color: $light-blue;
      }
    }
    .links {
      
      display: inline-block;
      float: right;
      margin-top: 18px;
      
      
      li {
        display: inline;
        
        a {
          padding-left: 5px;
          padding-right: 5px;
          color: $light-grey;
          border-top: 3px solid transparent;
          padding-top: 5px;
          
          &:hover {
            text-decoration: none;
            border-top: 3px solid $light-blue;
          }
        }

      } 
    }   
  }
}


/*Footer*/
.container-fluid {
  background-color: $off-white;
}
#footer {
  position: relative;
  top: 720px;
  padding-bottom: 20px;
  .para-two {
    display: inline-block;
  }
  
  .float-right {
    
    float: right;
    
    button {
      color: #3a5795;
      background-color: $off-white;
      
      &:first-child {
        color: $light-blue;
      }
    }
    
    .arrow-left {
      display: inline-block;
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; 
      border-right: 5px solid $light-grey; 
    }

    .count {
      display: inline-block;
      width: 40px;
      height: 20px;
      background-color: $light-grey;
      transform: translateX(-4px);
      padding-left: 4px;
    }
  }
}